@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #000;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: rgb(173, 112, 230);
    font-size: 2.5rem;
}
header span{
    color: #fff;
}

header .nav-primaria{
    display: flex;
    gap: 30px;
    align-items: center;
}

header .nav-primaria li a {
    padding: 10px;
    color: #fff;
    width: 0px;
    height: 0px;
    font-size: 1.3rem;

}
header .nav-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 4px solid transparent;
    display: block;
    transition: .9s;
}
header .nav-primaria li a:hover:after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid rgb(173, 112, 230);
}

/* Download CV */


.section-div {
    animation: iniciar .7s forwards;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div{
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}
.section-div div h2{
    font-family: '';
    font-weight: 600px;
    color: #f7f7f7;
}

.section-div div p{
    font-family: 'Poppins';
    font-weight: 200;
    color: #f7f7f7;
}

.section-div div a {
    justify-self:  start;
    color:#fff;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}

.section-div div img{
    max-width: 100%;
}
.digitando::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes iniciar {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0 , 0);
    }
}

/*SEÇÃO PRINCIPAL SOBRE MIM */

main{
    background-color: #111;
    color: #f7f7f7;
}
main .sobre{
    margin-top:60px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding:40px;

}
.sobre_titulo{
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
}
.sobre_titulo h1{
    font-size: 2.5rem;
    color:rgb(173, 112, 230);
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive;
}
.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}
.sobre_titulo div{
    display: flex;
    gap: 10px;
    justify-content: center;

}

.sobre_titulo span{
    display: block;
    height: 20px;
    width:20px;
    border-radius: 50%;
    background-color:rgb(173, 112, 230) ;
}
.sobre img{
    animation: ladoSecao .5s ease-in-out forwards ;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}
.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}
.sobre_conteudo{
    animation: sobeSecao.6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;

}
.sobre_texto{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}
.sobre_texto h1{
    font-size:  2.3rem;
    color: #fff;
    grid-column: 1/-1;
}
.sobre_texto h1::after{
    background-color: rgb(173, 112, 230);
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: "";
    display: block;
    border-radius: 5px;
}
.sobre_texto p{
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}
.sobre_info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column:  1/-1;
    gap: 15px;
    align-items: center;

}
.sobre_info i{
    color:rgb(173, 112, 230);
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem
}
.sobre_info p{
    font-size:.9rem;

}
@keyframes sobeSecao {
    from{
        transition: .5s;
        transform: translate3d(60px, 0 , 0);
    }
    to{
        transform: translate3d(0, 0 , 0 );
    }
}

@keyframes ladoSecao {
    from{
        transition: .5s;
        transform: translate3d(-60px, 0 , 0);
    }
    to{
        transform: translate3d(0, 0 , 0 );
    }
}

/* Responsividade*/
@media(max-width: 992px){
    .section-div img{
        display: none;
    }
    .section-div {
        background-image: url('Assets/imagens/minhafoto.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .section-div p {
        color: rgb(36, 35, 35);
    }
    
    header {
        justify-content: space-between;
        padding: 30px 70px;
    }
    
    header .nav-primaria {
        display: none;
    }
    
    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }
    
    header .nav-primaria.ativado {
        background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out forwards;
    }
    
    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }
    
    .sobre_conteudo {
        grid-column: 1/-1;
    }
}  

/* Seção resumo */

.resumo{
    padding: 60px;
    margin-top: -30px;
    background-color: #151515;
}

.resumo_formacao{
    padding: 60px;
    color: white;

}

.resumo_formacao h1{
    font-size:  2.3rem;
    color: #fff;
    grid-column: 1/-1;
    padding: 30px;
    text-align: center;
    font-family: 'Poppins';

}
.resumo_formacao h1::after{
    background-color: rgb(173, 112, 230);
    height: 6px;
    width: 90px;
    margin: 20px 0 ;
    content: "";
    display: block;
    border-radius: 5px


}
.resumo_formacao ul{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.resumo_formacao ul li {
    cursor: pointer;
    position: relative;
    padding: 30px;
    display: grid;
    gap: 20px;
    text-align: center;
    height: 305px;
    max-width: 300px;
    background: #222;
    border-radius: 6px;
    align-content: center;
}
.resumo_formacao ul li img{
    width: 80%;
    gap:px;
    align-items: center;
    margin: auto;
}

.resumo_formacao ul li h3{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
}
.resumo_formacao ul li p {
    font-size: 1.1rem;
}
.ponto_roxo{
    color:rgb(173, 112, 230) ;
    font: 2.7rem;

}

.resumo_formacao li::before{
    content: "";
    border-radius: 6px;
    transition: .5s ease-in-out;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}
.resumo_formacao li::after{
    content: "";
    border-radius: 6px;
    transition: .5s ease-in-out;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}
.resumo_formacao li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid purple;
    border-right: 2px solid purple;
}
.resumo_formacao li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid purple;
    border-left: 2px solid purple;
}

.resumo_formacao ul li i{
    color:rgb(173, 112, 230) ;
    font-size: 3rem;
}

/* Seção do Portfolio*/

.portfolio{
    padding: 60px;
    margin-top: -30px;
    background-color: #151515;
}

.port_projetos{
    padding: 60px;
    color: white;

}
.port_projetos ul{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.port_projetos ul li {
    cursor: pointer;
    position: relative;
    padding: 30px;
    display: grid;
    gap: 20px;
    text-align: center;
    height: 500px;
    max-width: 500px;
    background: #222;
    border-radius: 6px;
    align-content: center;
}
.port_projetos ul li i{
    color:rgb(173, 112, 230) ;
    font-size: 3rem;
}
.port_projetos ul li h1{
    color: #f7f7f7;
    font-family: 'Popins';
}
.port_projetos ul li a{
    color: #f7f7f7;
}

@media (max-width: 767px) {
    .portfolio {
        padding: 30px;
    }
    
    .port_projetos ul li {
        height: auto;
        max-width: none;
    }
}

/* Seção Contato.*/

.contato{
    padding: 60px;
    margin-top: -30px;
    background-color: #151515;
    flex-wrap: wrap;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.me_contate{
    display: flex;
    width: 1100px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #151515;
}
.me_contate .card  {
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #222;
    margin: 20px;
    border: 1px solid rgb(173, 112, 230);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    color:#f7f7f7;
    background-color: #222;

}
.me_contate .card i{
    transition: 0.5s;
    font-size: 15rem;
    color: rgb(173, 112, 230);
}
.me_contate .card a{
    color:  #f7f7f7;
    font-size: 1.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.me_contate .card h1{
    font-size: 2rem;
}
.me_contate .card .content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.me_contate .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #151515;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}
.me_contate .card:hover{
    background-color: #f7f7f7;
    color: rgb(16, 17, 17);
    margin-top: -30px;
    box-shadow: 2px 20px 25px #222;
    border-color:#f7f7f7 ;
}
footer p {
    text-align: center;
    color: #ffffff;
    margin: 90px auto;
    font-size: 1.5rem;
    font-family: 'Poppins';
}
@media (max-width: 1089px){
    .resumo_formacao ul{
        justify-self: center;
        grid-column: 1/-1;
        margin-bottom: 30px;
        text-align: center;
        grid-template-columns: 1fr;
    }
}
